[Unit]
Description=Run fix_easytier.sh every 5 minutes
Requires=fix-easytier.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=fix-easytier.service
Persistent=true

[Install]
WantedBy=timers.target
