[Unit]
Description=Fix EasyTier IP Forwarding and NAT rules
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fix_easytier.sh
RemainAfterExit=yes
